@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --navbar-margin: 3vw;
    --standard-margin: 8em;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

p {
    font-size: 1.2em;
}

/* - Global stuff - */
.mb-standard {
    margin-bottom: var(--standard-margin);
}

#falcon9-background.title-image {
    background-image: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25) ), url(../images/Falcon9.jpg) !important;
}
#falconheavy-background.title-image {
    background-image: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25) ), url(../images/title-image.jpg) !important;
}
#starship-background.title-image {
    background-image: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25) ), url(../images/Starship.jpg) !important;
}

.raketa-text {
    width: 70vw;
    margin: 0 auto var(--standard-margin) auto;
}



/* - Navbar - */
nav {
    background-color: #18BC9C !important;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.85;
}

nav > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav > ul > li {
    margin: 0 var(--navbar-margin) 0 0;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    padding: 12px;
}

nav > ul > li > a:hover {
    color: black;
}

nav > .icon {
    display: none;
}

.navbar-brand {
    margin-left: var(--navbar-margin);
}


/* - Úvodní stránka - */
.title-image {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25) ), url(../images/title-image.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
}

.title-image h1 {
    color: white;
    font-size: 8vw;
}

.sekce-nadpis {
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 46px;
}

.jumbotron {
    display: block;
    width: 1000px;
    background: #ecf0f1;
    padding: 4em 2.5em 4em 2.5em;
    margin: 1.5em auto 1.5em auto;
    border-radius: 0.5em;
}
.jumbotron-nadpis {
    font-weight: 300;
    font-size: 3em;
    margin-bottom: 24px;
}
.jumbotron-text {
    font-weight: 300;
    margin-bottom: 24px;
    line-height: 1.5em;
}

.button-green {
    background-color: #18BC9C;
    padding: 12px;
    border-radius: 0.5em;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 12px;
    transition: 0.3s;
}
.button-green:hover {
    background-color: #12997e;
    transition: 0.3s;
}

.galerie {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.galerie-fotka {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 16px;
    border-radius: 0.5em;
    transition: 0.3s;
}
.galerie-fotka:hover {
    filter: brightness(80%);
    transition: 0.3s;
}

/* - Footer - */

.copyright {
    width: 100vw;
    height: 32px;
    background-color: rgb(187, 187, 187);
}

.copyright > p {
    text-align: center;
    line-height: 32px;
}


/* - Responzivnost - */


@media (max-width: 1150px) {
    .jumbotron {
        width: 80% !important;
    }

    .raketa-text {
        width: 80vw;
    }
}

@media (max-width: 920px) {
    .nav-items {
        display: none;
        margin-top: 277px;
        position: absolute;
        right: 0;
    }

    nav > ul > li > a {
        /*padding: 14px 16px;*/
        display: block;
        text-align: center;
        background-color: black;
        width: 150px;
        height: 24px;
    }
    nav > ul > li {
        margin-right: 0;
    }
  
    /* Style the hamburger menu */
    nav > .icon {
        display: block;
        margin-right: var(--navbar-margin);
    }

    nav > .icon > i {
        color: white;
        font-size: 28px;
    }
    
    /* Add a grey background color on mouse-over */
    nav > .icon > i:hover {
        color: black;
    }
}

@media (max-width: 720px) {
    body {
        font-size: 95%;
    }

    .galerie-fotka {
        width: 190px;
        height: 190px;
        margin: 6px;
    }

    .raketa-text {
        width: 90vw;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 85%;
    }

    .title-image h1 {
        font-size: 14vw;
    }

    .galerie-fotka {
        width: 140px;
        height: 140px;
        margin: 6px;
    }
}